*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.authWrapper{
    min-width: 100vh;
    width: 100%;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authWrapper .nav-pills .nav-link {
    flex-grow: 1;
    border-radius: 20px;
}


.authCard{
    width: 90%;
    max-width: 600px;
}